<div class="sidebar" data-color="purple" data-image="" style="background-image:url('../../assets/Dashboard/assets/img/sidebar-5.jpg');">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="#" class="simple-text">Sistema de Control</a>
    </div>
    <ul class="nav">
      <li>
        <a href="" routerLink="/dashboard">
          <i class="material-icons">perm_identity</i>
          <p>Perfil
          </p>
        </a>
      </li>
      <li>
        <a href="" routerLink="/addUser">
          <i class="material-icons">add</i>
          <p>Agregar Usuario
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>