<!--se agrega el navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://firebasestorage.googleapis.com/v0/b/proyecto-robotica-35bed.appspot.com/o/fotos%2FPiscis%20Logo.png?alt=media&token=5e2b1404-b32a-4192-a47e-3354a23ba484" width="30" height="30" class="d-inline-block align-top" alt="Piscis Logo">
      <span class="text-info">Piscis</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/login">Inicia Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/register">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/historial">Historial</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Salir</a>
          </li>
      </ul>
    </div>
  </nav>
<!-- se termina de agregar el navbar-->