<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-6 col-md-8">
                <h3 class="h2 text" style="font-size:7vw;"><span class="fa-stack text"><i class="fa fa-circle fa-stack-2x text-muted"></i><i class="fa fa-video fa-stack-1x fa-inverse"></i></span>LiveCam Streaming</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text" style="font-size: 6vw;">Mostrando: <span class="text-warning text" style="font-size: 6vw;">6 Cámaras</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2 text-center">
                <label for="" class="mx-auto text-center">Camara 1</label>
                <div class="video-container">
                  <iframe allowfullscreen="" frameborder="0" src="https://player.vimeo.com/video/201361986"></iframe>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 text-center">
                <label for="" class="mx-auto text-center">Camara 2</label>
                <div class="video-container"><iframe allowfullscreen="" frameborder="0" src="https://player.vimeo.com/video/201361986"></iframe></div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 text-center">
                <label for="" class="mx-auto text-center">Camara 3</label>
                <div class="video-container"><iframe allowfullscreen="" frameborder="0" src="https://player.vimeo.com/video/201361986"></iframe></div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 text-center">
                <label for="" class="mx-auto text-center">Camara 4</label>
                <div class="video-container"><iframe allowfullscreen="" frameborder="0" src="https://player.vimeo.com/video/201361986"></iframe></div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 text-center">
                <label for="" class="mx-auto text-center">Camara 5</label>
                <div class="video-container"><iframe allowfullscreen="" frameborder="0" src="https://player.vimeo.com/video/201361986"></iframe></div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 text-center">
                <label for="" class="mx-auto text-center">Camara 6</label>
                <div class="video-container"><iframe allowfullscreen="" frameborder="0" src="https://player.vimeo.com/video/201361986"></iframe></div>
            </div>
        </div>
    </div>
</div>