<mat-card class="m-4" *ngIf="elemento && detallesElemento">
  <mat-card-title>
    Detalles de la temperatura
  </mat-card-title>
  <mat-card-content>
    ID: {{elemento.private_key_id}}
    <br> Valor: {{elemento.valor}}
    <br> Año: {{elemento.ano}}
    <br> Mes: {{elemento.mes}}
    <br> Dia: {{elemento.dia}}
    <br> Hora: {{elemento.hora}}
    <br>
    <button class="waves-effect waves-light btn-small mt-3 mb-3 ml-0 mr-0" (click)="onCerrar()">Cerrar</button>

  </mat-card-content>
</mat-card>