<ion-header>
  <ion-navbar color="pink">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Historial</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <h1 style="text-align:center;" padding>
      Filtrar Datos Por:
    </h1>
    <ion-row >
      <ion-col class="col" col-12 tappable>
        <ion-item>
          <ion-label>Año</ion-label>
          <ion-select [(ngModel)]="ano" (ionChange)="filtroExactoAno($event)">
            <ion-option value="{{anoo}}"  *ngFor="let anoo of anos">{{anoo}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col class="col" col-12 tappable>
        <ion-item>
          <ion-label>Mes</ion-label>
          <ion-select [(ngModel)]="mes" (ionChange)="filtroExactoMes($event)">
            <ion-option value="{{mess}}" *ngFor="let mess of meses">{{mess}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col class="col" col-12 tappable>
        <ion-item>
          <ion-label>Dia</ion-label>
          <ion-select [(ngModel)]="dia" (ionChange)="filtroExactoDia($event)">
            <ion-option value="{{diaa}}" *ngFor="let diaa of dias">{{diaa}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
  <mat-card padding>
    <ion-title padding>Documentos</ion-title>
    <!--<ion-list reorder="true" padding>
        <ion-item *ngFor="let documento of documentos" padding>
          {{documento.private_key_id}}
        </ion-item>
      </ion-list>-->
    <mat-table matSort #table [dataSource]="documentos" (matSortChange)="sortData($event)">
      <ng-container matColumnDef="ID">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header="ID"> ID </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <button ion-item (click)="detalles(element)">
            <h4>{{element.private_key_id}}</h4>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Acciones">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <ion-buttons end>
            <button ion-button icon-only color="red" (click)="eliminarDocumento(element)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-buttons>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>

</ion-content>