<mat-toolbar class="mt-2 z-depth-2" color="primary">
  <span>{{title}}</span>
  <span class="fill-remaining-space"></span>
  <span>Piscis</span>
</mat-toolbar>
<!--selects-->
<mat-card class="mt-2 mb-3 text-center">
  <!--Material Data Picker-->
  <!--<mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #picker></mat-datepicker>
  </mat-form-field>-->
  <!--select de los anos-->
  <mat-form-field class="text-center mx-auto wow slideInLeft">
    <mat-select placeholder="Año" [(ngModel)]="ano" (change)="filtroExactoAno('ano',ano)">
      <mat-option value="2018">2018</mat-option>
      <mat-option value="2019">2019</mat-option>
      <mat-option value="2020">2020</mat-option>
      <mat-option value="2021">2021</mat-option>
      <mat-option value="2022">2022</mat-option>
    </mat-select>
    <button mat-button *ngIf="ano" (click)="eliminarFiltro('ano')">Eliminar Filtro</button>
  </mat-form-field>
  <!--select de los meses-->
  <mat-form-field class="text-center mx-auto wow slideInLeft">
    <mat-select placeholder="Mes" [(ngModel)]="mes" (change)="filtroExactoMes('mes',mes)">
      <mat-option value="Enero">Enero</mat-option>
      <mat-option value="Febrero">Febrero</mat-option>
      <mat-option value="Marzo">Marzo</mat-option>
      <mat-option value="Abril">Abril</mat-option>
      <mat-option value="Mayo">Mayo</mat-option>
      <mat-option value="Junio">Junio</mat-option>
      <mat-option value="Julio">Julio</mat-option>
      <mat-option value="Agosto">Agosto</mat-option>
      <mat-option value="Septiembre">Septiembre</mat-option>
      <mat-option value="Octubre">Octubre</mat-option>
      <mat-option value="Noviembre">Noviembre</mat-option>
      <mat-option value="Diciembre">Diciembre</mat-option>
    </mat-select>
    <button mat-button *ngIf="mes" (click)="eliminarFiltro('mes')">Eliminar Filtro</button>
  </mat-form-field>
  <!--select de los dias-->
  <mat-form-field class="text-center mx-auto wow slideInLeft">
    <mat-select placeholder="Dia" [(ngModel)]="dia" (change)="filtroExactoAno('dia',dia)">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
      <mat-option value="6">6</mat-option>
      <mat-option value="7">7</mat-option>
      <mat-option value="8">8</mat-option>
      <mat-option value="9">9</mat-option>
      <mat-option value="10">10</mat-option>
      <mat-option value="11">11</mat-option>
      <mat-option value="12">12</mat-option>
      <mat-option value="13">13</mat-option>
      <mat-option value="14">14</mat-option>
      <mat-option value="15">15</mat-option>
      <mat-option value="16">16</mat-option>
      <mat-option value="17">17</mat-option>
      <mat-option value="18">18</mat-option>
      <mat-option value="19">19</mat-option>
      <mat-option value="20">20</mat-option>
      <mat-option value="21">21</mat-option>
      <mat-option value="22">22</mat-option>
      <mat-option value="23">23</mat-option>
      <mat-option value="24">24</mat-option>
      <mat-option value="25">25</mat-option>
      <mat-option value="26">26</mat-option>
      <mat-option value="27">27</mat-option>
      <mat-option value="28">28</mat-option>
      <mat-option value="29">29</mat-option>
      <mat-option value="30">30</mat-option>
      <mat-option value="31">31</mat-option>
    </mat-select>
    <button mat-button *ngIf="ano && mes && dia" (click)="eliminarFiltro('dia')">Eliminar Filtro</button>
  </mat-form-field>
  <button *ngIf="ano && mes && dia && !chart" class="my-auto ml-3 btn-floating btn-small waves-effect waves-light red" (click)="mostrarGrafico()">
    <i class="material-icons">
      bar_chart
    </i>
  </button>
</mat-card>
<!--Aqui es donde ira el grafico-->
<div *ngIf="chart">
  <mat-card>
    <mat-card-title>
      Grafico de la temperatura
    </mat-card-title>
    <mat-card-content>
      <app-data-charts></app-data-charts>
      <a class="waves-effect waves-light btn text-light mt-5" (click)="cerrarGrafico()">Cerrar Grafico</a>

    </mat-card-content>
  </mat-card>
</div>
<!--Temperaturas sin filtro aplicado-->
<!--<mat-card class="mt-4 z-depth-2" *ngIf="filtro" id="tablaSinFiltro">

  <table class="table table-hover z-depth-2">
    <thead class="thead-inverse">
      <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th class="text-center">Detalles</th>
      </tr>
    </thead>
    <tbody *ngFor="let temperatura of temperaturas">
      <tr>
        <td>{{temperatura.private_key_id}}
          <td>{{temperatura.hora}}</td>
          <td class="text-center mx-auto">
            <button class="mx-auto btn-floating btn-small waves-effect waves-light teal tooltipped btn" (click)="onClick(temperatura)"
              data-position="bottom" data-tooltip="Mostrar Detalles">
              <i class="material-icons">add</i>
            </button>
          </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
  <app-detalles [elemento]="elemento" [detallesElemento]="detallesElemento" (cerrar)="cerrarDetalles()"></app-detalles>
</mat-card>
<mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

  <ng-container matColumnDef="seqNo">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let lesson">{{lesson.seqNo}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let lesson">{{lesson.description}}</mat-cell>

  </ng-container>

  <ng-container matColumnDef="duration">
    <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
    <mat-cell class="duration-cell" *matCellDef="let lesson">{{lesson.duration}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>-->

<mat-card class="mt-4 z-depth-2 wow slideInLeft" *ngIf="filtro" id="tablaSinFiltro">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Valor</th>
        <th class="text-center">Detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let temperatura of temperaturas">
        <td class="text-center jackInTheBox">{{ temperatura.key }}</td>
        <td class="text-center jackInTheBox">{{ temperatura.valor }}</td>
        <td class="text-center mx-auto">
          <button class=" mx-auto btn-floating btn-small waves-effect waves-light teal tooltipped btn" (click)="onClick(temperatura)"
            data-position="bottom" data-tooltip="Mostrar Detalles">
            <i class="material-icons">add</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-detalles [elemento]="elemento" [detallesElemento]="detallesElemento" (cerrar)="cerrarDetalles()"></app-detalles>
</mat-card>

<!--Temperaturas con el filtro aplicado-->
<mat-card *ngIf="!filtro && !chart" id="tablaConFiltro">
  <table class="table table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>Fecha/Hora</th>
        <th>Valor</th>
        <th>Detalles</th>
      </tr>
    </thead>
    <tbody *ngFor="let temperatura of temperaturasFiltradas">
      <tr>
        <td>{{temperatura.private_key_id}}
          <td>{{temperatura.valor}}</td>
          <td class="text-center mx-auto">
            <button class=" mx-auto btn-floating btn-small waves-effect waves-light teal tooltipped btn" (click)="onClick(temperatura)"
              data-position="bottom" data-tooltip="Mostrar Detalles">
              <i class="material-icons">add</i>
            </button>
          </td>
      </tr>
    </tbody>
  </table>
  <app-detalles [elemento]="elemento" [detallesElemento]="detallesElemento" (cerrar)="cerrarDetalles()"></app-detalles>
</mat-card>