<div class="jumbotron bg-light mx-auto mt-3 text-center">
  <div class="display-4">
    Bien Hecho! 
  </div>
  <div class="display-4">
      Registro Completo
  </div>
  <img src="https://firebasestorage.googleapis.com/v0/b/proyecto-robotica-35bed.appspot.com/o/fotos%2FPiscis%20Logo.png?alt=media&token=5e2b1404-b32a-4192-a47e-3354a23ba484" width="200" alt="Piscis Logo">
  <div class="text-center">
    <div class="h3 mt-3">
      Ahora porfavor revise la bandeja de entrada de su correo electrónico para confirmarlo. Una vez confirmado favor de recargar la pagina.
    </div>
  </div>
</div>